@model List<Application.ViewModels.RegionViewModel>
@{
    ViewData["Title"] = "Region List";
}

<div class="container">
    <div class="row mb-3">
        <div class="col-3">
            <a asp-controller="Region" asp-action="Create" class="btn btn-lg btn-outline-primary">Add new Region</a>
        </div>
    </div>

    @if (Model == null || Model.Count() == 0)
    {
        <h1>There are no regions registered yet :( Gotta catch em' all!</h1>
    }
    else
    {
        <div class="row mb-2">
            @foreach (Application.ViewModels.RegionViewModel item in Model)
            {
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-auto flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <div class="d-flex">
                                <strong class="d-inline-block mb-2 text-primary">@(item.Id < 10 ? $"Region no.0{item.Id}" : $"Region no.{item.Id}")</strong>
                            </div>
                            <h2 class="mb-1">@item.Name</h2>
                            <div class="btn-group mt-auto" role="group">
                                <a asp-controller="Region" asp-action="Update" asp-route-id="@item.Id" class="btn btn-outline-success text-dark fw-bold">Edit</a>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal@(item.Id)" class="btn btn-outline-danger text-dark fw-bold">Delete</button>
                            </div>
                        </div>
                        <div class="col-auto d-block">
                            <img class="bd-placeholder-img" width="200" height="250" src="https://i.pinimg.com/originals/e4/1d/66/e41d6638c03e1ca83aad687ad35e1bec.jpg" />
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deleteModal@(item.Id)" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel@(item.Id)">Delete Region</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete @(item.Id < 10 ? $"Region no.0{item.Id}" : $"Region no.{item.Id}")?<br>
                                All Pokémon associated with this region will be eliminated as well.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No wait!</button>
                                <a asp-controller="Region" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Yes, delete it</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>