@model List<Application.ViewModels.GetPokemonViewModel>
@{
    ViewData["Title"] = "Pokémon List";
}

<div class="row mb-3">
    <div class="col-3">
        <a asp-controller="Pokemon" asp-action="Create" class="btn btn-lg btn-outline-primary">Add new Pokémon</a>
    </div>
</div>

@if (Model == null || Model.Count() == 0)
{
    <h1>There are no pokémon registered yet :( Gotta catch em' all!</h1>
}
else
{
    <div class="row mb-2">
        @foreach (Application.ViewModels.GetPokemonViewModel item in Model)
        {
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-auto flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="d-flex">
                            @if (item.Id < 10)
                            {
                                <strong class="d-inline-block mb-2 text-primary">Pokémon no.0</strong>
                                <strong class="d-inline-block mb-2 text-primary">@item.Id</strong>
                            }
                            else
                            {
                                <strong class="d-inline-block mb-2 text-primary">Pokémon no.@item.Id</strong>
                            }
                        </div>
                        <h3 class="mb-1">@item.Name</h3>
                        <p class="card-text mb-auto"><strong>@item.Region</strong> Region</p>
                        <p class="card-text mb-auto"><strong>@item.PrimaryType</strong> Type (Primary)</p>
                        <p class="card-text mb-auto"><strong>@item.SecondaryType</strong> Type (Secondary)</p>
                        <div class="btn-group" role="group">
                            <button type="button" asp-controller="Pokemon" asp-action="Update" asp-route-id="@item.Id" class="btn btn-outline-success text-dark fw-bold">Edit</button>
                            <button type="button" asp-controller="Pokemon" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger text-dark fw-bold">Delete</button>
                        </div>
                    </div>
                    <div class="col-auto d-block">
                        <img class="bd-placeholder-img" width="200" height="250" src="@item.ImgUrl" />
                    </div>
                </div>
            </div>
        }
    </div>
}

