@model List<Application.ViewModels.GetPokemonViewModel>
@{
    ViewData["Title"] = "Home Page";
    List<Application.ViewModels.RegionViewModel> regions = ViewData["Regions"] as List<Application.ViewModels.RegionViewModel>;
}

@if (Model == null || Model.Count() == 0)
{
    <h1>Todavia no hay pokémon registrados. Atrápalos todos!</h1>
}
else
{


<div class="container text-center m-4 d-flex gap-4 align-items-center">
        <h4>Filter by:</h4>
        <div class="d-flex gap-2 align-items-center">
            <strong>Region:</strong>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Select Region
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    @foreach (Application.ViewModels.RegionViewModel item in regions) { 
                        <li><a class="dropdown-item" href="#">@item.Name</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-center gap-2">
            <strong class="flex-shrink-0">Pokémon Name:</strong>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Input Name..." aria-label="Pokémon Name" aria-describedby="button-addon2">
                <button class="btn btn-outline-primary text-dark fw-bold" type="button" id="button-addon2">Search</button>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        @foreach (Application.ViewModels.GetPokemonViewModel item in Model)
        {
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-auto flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="d-flex">
                            @if (item.Id < 10)
                            {
                                <strong class="d-inline-block mb-2 text-primary">Pokémon no.0</strong>
                                <strong class="d-inline-block mb-2 text-primary">@item.Id</strong>
                            }
                            else
                            {
                                <strong class="d-inline-block mb-2 text-primary">Pokémon no.@item.Id</strong>
                            }
                        </div>
                        <h3 class="mb-1">@item.Name</h3>
                        <p class="card-text mb-auto"><strong>@item.Region</strong> Region</p>
                        <p class="card-text mb-auto"><strong>@item.PrimaryType</strong> Type (Primary)</p>
                        <p class="card-text mb-auto"><strong>@item.SecondaryType</strong> Type (Secondary)</p>
                        <div class="btn-group" role="group">
                            <a href="https://pokemon.fandom.com/es/wiki/@item.Name" class="stretched-link">Continue Reading</a>
                        </div>
                    </div>
                    <div class="col-auto d-block">
                        <img class="bd-placeholder-img" width="200" height="250" src="@item.ImgUrl" />
                    </div>
                </div>
            </div>
        }
    </div>
}
